<!DOCTYPE html>
<html>
<head lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Course-O-Matic</title>
    <script>
        $(function() {
            $.get('default/get_courses.json', function(courses) {
                courses.courses.forEach(function(course) {
                    var d = $("<div>").text(course.name);
                    $('<input type="checkbox" name = "' + course.name + '">').val(course.course_number).prependTo(d);
                    $("#chkContainer").append(d);
                })
            }, 'json')
        })
    </script>
</head>
<body>
    <nav class = "navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Student Basic Home</a></li>
            <li><a href="/">Set Filters</a></li>
            <li><a href="/">Show Calender</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class = "container">

      <div class = "starter-template">


    </div><!-- /.container -->
       <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class = "jumbotron">
      <div class = "container">
        <h1>Welocme to Course-O-Matic</h1>
        <p>This web app bla bla bla.</p>
        <p><a class = "btn btn-primary btn-lg" href="#" role = "button">Learn more &raquo;</a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <form method = "POST" action="">
      <label for="sel1">Choose your current university:</label>
      <select class = "form-control" id = "university" value = "university" name = "university">
        <option>Hebrew university</option>
        <option>Tel Aviv university</option>
        <option>Technion</option>
      </select>
      <br>

      <label for="sel1">Chose the Faculaty you belong:</label>
      <select class = "form-control" id = "faculty" value = "faculty" name = "faculty">
        <option>Computer Science</option>
        <option>Biology</option>
        <option>Physics</option>
      </select>
      <br>

       <label for="sel1">How much points would you like to take:</label><br>
        <input type = "text" name = "points">
        <br>
        <br><label for="sel1">Choose the wanted courses:</label><br>
        <div id="chkContainer" name = "chkContainer">
        </div>

        <input type = "submit" value = "Submit">
    </form>
</body>
</html>